.admin-project-card {
    --top-right-offset-x: 48px;
    --top-right-offset-y: 64px;
    --top-right-size: 200px;
    --bottom-left-offset-x: 64px;
    --bottom-left-offset-y: 48px;
    --bottom-left-size: 180px;
    min-height: 500px;
    background: linear-gradient(to bottom left, #A6E1FF 0%, #7BA1F5 78%);
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 16px;
    box-shadow: 0 4px 8px 4px #283c7772;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .thumbnail-container {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 16px;
        padding-bottom: 8px;
        background: #283C77;
        border-radius: 12px;
        margin-bottom: 12px;
    }

    .thumbnail-container img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border: 1px solid #ffffff;
        border-radius: 8px;
        display: block;
        margin-bottom: 8px;
    }

    .thumbnail-placeholder {
        width: 100%;
        height: 180px;
        border: 1px solid #ffffff;
        border-radius: 8px;
        color: #dce6ff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    .background-image-top-right{
        position: absolute;
        top: calc(var(--top-right-offset-y) * -1);
        right: calc(var(--top-right-offset-x) * -1);
        overflow: hidden;
        width: var(--top-right-size);
        height: var(--top-right-size);
    }

    .background-image-bottom-left{
        position: absolute;
        bottom: calc(var(--bottom-left-offset-y) * -1);
        left: calc(var(--bottom-left-offset-x) * -1);
        overflow: hidden;
        width: var(--bottom-left-size);
        height: var(--bottom-left-size);
    }

    .background-image-top-right img,
    .background-image-bottom-left img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

    .project-title {
        font-weight: 900;
        color: white
    }

    .project-description-box {
        border: 2px solid #142a4d;
        border-radius: 12px;
        padding: 12px 14px;
        color: #0c1e3a;
        position: relative;
        z-index: 1;
        margin-bottom: 16px;
        flex: 1;
    }

    .admin-card-actions {
        display: flex;
        gap: 12px;
        justify-content: flex-end;
        position: relative;
        z-index: 1;
        margin-top: auto;
    }
}