
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}


html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}